# Introduction

This notebook is an attempt to concatenate the manually retrieved data in `02-data/manually_retrieved`.

In [1]:
import pandas as pd
import os

# Load Daily Data

In [2]:
start_date = "2012-01-01"
end_date = "2021-08-31"

data_dir = "../02-data/manually_retrieved/"

# exclude the monthly data file
csv_files = [file for file in os.listdir(data_dir) if "-ecb-" in file]

chained_data = pd.DataFrame()

for batch_num, file in enumerate(csv_files):

    filename = data_dir + file

    temp = (
        pd.read_csv(filename, parse_dates=[0], index_col=[0], skiprows=2)
        .assign(batch=batch_num)
        .rename({"European Central Bank: (Worldwide)": "ecb_daily"}, axis=1)
    )

    chained_data = chained_data.append(temp)

chained_data

            ecb_daily  batch
Day
2012-01-01         28      0
2012-01-02         36      0
2012-01-03         66      0
2012-01-04         70      0
2012-01-05         65      0
...               ...    ...
2021-08-27         27     38
2021-08-28         43     38
2021-08-29         29     38
2021-08-30         42     38
2021-08-31         37     38

[3531 rows x 2 columns]

Then we need to extract a feature that looks like `YYYY-MM` to join later on monthly data.

In [3]:
chained_data = (
    chained_data
    .reset_index()
    .assign(
        year_month = lambda x: x["Day"].astype("str").apply(lambda s: s[:7])
    )
    .rename({"Day": "day"}, axis=1)
    .set_index("day")
)

# Load Monthly Data

In [4]:
ecb_monthly = (
    pd.read_csv(data_dir + "ecb-monthly-2012_2021.csv", skiprows=2)
    .rename(
        {"European Central Bank: (Worldwide)": "ecb_monthly", "Month": "year_month"}, axis=1
    )
)

In [5]:
chained_data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 3531 entries, 2012-01-01 to 2021-08-31
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ecb_daily   3531 non-null   int64
 1   batch       3531 non-null   int64
 2   year_month  3531 non-null   object
dtypes: int64(2), object(1)
memory usage: 110.3+ KB

In [6]:
ecb_monthly.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 116 entries, 0 to 115
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   year_month   116 non-null    object
 1   ecb_monthly  116 non-null    int64
dtypes: int64(1), object(1)
memory usage: 1.9+ KB

In [7]:
ecb_daily = (
    chained_data
    # reset the index and set as index the column we want to merge on
    .reset_index()
    .set_index("year_month")
    .join(ecb_monthly.set_index("year_month"), how="left")
    # reset the original index
    .set_index("day")
)

In [8]:
ecb_daily

            ecb_daily  batch  ecb_monthly
day
2012-01-01         28      0           62
2012-01-02         36      0           62
2012-01-03         66      0           62
2012-01-04         70      0           62
2012-01-05         65      0           62
...               ...    ...          ...
2021-08-27         27     38           23
2021-08-28         43     38           23
2021-08-29         29     38           23
2021-08-30         42     38           23
2021-08-31         37     38           23

[3531 rows x 3 columns]

In [10]:
ecb_daily.to_csv(data_dir + "ecb-daily-2012_2021.csv")